.post {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	.post-area {
		width: 60%;
		height: auto;
		background: $white;
		border-radius: 2px;
		box-shadow: $box-shadows-1;
		padding: 2rem;
		overflow: hidden;
		.ads {
			width: 100%;
			height: 8rem;
			background: grey;
			margin: 2rem 0;
		}
		.post-area-header {
			width: 100%;
			height: 10rem;
			display: flex;
			margin-bottom: 2rem;
			.post-area-profile-logo-box {
				width: 10rem;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				.post-area-profile-logo {
					width: 8rem;
					height: 8rem;
					border-radius: 50%;
				}
			}
			.post-area-header-content-box {
				width: calc(100% - 10rem);
				height: 100%;
				.post-area-header-title-box {
					width: 100%;
					height: 70%;
					display: flex;
					align-items: center;
					font-weight: 300;
					font-family: 'Vollkorn', serif;
					color: #212529;
					padding-right: 2rem;
					padding-left: 1rem;
				}
				.post-area-header-sub-box {
					width: 100%;
					height: 30%;
					display: flex;
					align-items: center;
					.post-area-header-sub-menu {
						list-style-type: none;
						padding-left: 1rem;
						.post-area-header-sub-list {
							margin-right: 3rem;
							display: inline-block;
							.post-area-header-sub-link {
								color: grey;
								font-size: 1.3rem;
								font-weight: 600;
							}
						}
					}
				}
			}
		}
		.post-blog-content {
			padding: 2rem;
			.post-img-box {
				width: 100%;
				height: 30rem;
				margin-bottom: 4rem;
				.post-img {
					width: 100%;
					height: 100%;
				}
			}
			.post-desc-box {
				padding-bottom: 5rem;
				width: 100%;
				height: auto;
				border-bottom: 1px solid rgba(grey, .2);
				.post-content {
					font-size: 1.6rem;
					line-height: 3rem;
					color: grey;
				}
			}
			.tags {
				width: 100%;
				height: 8rem;
				display: flex;
				align-items: center;
				color: grey;
				border-bottom: 1px solid rgba(grey, .2);
				.tags-name {
					font-size: 1.5rem;
					font-weight: 400;
				}
			}
			.comment-sec {
				padding: 2rem 0;
			}
		}
	}
	.sidebar {
		width: 30%;
		height: auto; // background: $white;
		border-radius: 2px; // box-shadow: $box-shadows-1;
		padding: 2rem;
		padding-top: 0;
		overflow: hidden;
		.search-box {
			width: 100%;
			height: 4rem;
			border-radius: 2px;
			background: $white;
			box-shadow: $box-shadows-1;
			margin-bottom: 5rem;
			display: flex;
			.search-input {
				border: none;
				width: 90%;
				height: 100%;
				transition: all .4s;
				overflow: hidden;
				padding-left: 1rem;
			}
			.search-btn {
				border: none;
				width: 10%;
				height: 100%;
				background: $white;
				color: #4abde8;
				cursor: pointer;
			}
		}
		.profile-box {
			width: 100%;
			height: 40rem;
			border-radius: 2px;
			background: $white;
			box-shadow: $box-shadows-1;
			margin-bottom: 5rem;
			.profile-image-box {
				width: 100%;
				height: 20rem;
				.profile-image-bar {
					width: 100%;
					height: 100%;
				}
			}
			.profile-brand-box {
				width: 100%;
				height: 12rem;
				display: flex;
				position: relative;
				.profile-image-box {
					width: 12rem;
					height: 12rem;
					border-radius: 50%;
					border: 5px solid $white;
					position: absolute;
					top: -2rem;
					left: 2rem;
					overflow: hidden;
					background: $white;
					.profile-image {
						width: 100%;
						height: 100%;
					}
				}
				.profile-desc-box {
					width: calc(100% - 12rem);
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					overflow: hidden;
					padding: 2rem;
					padding-top: 0;
					padding-left: 5rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
					.profile-name {
						font-family: 'Vollkorn', serif;
					}
					.profile-subname {
						color: grey;
					}
				}
			}
			.profile-social-box {
				width: 100%;
				height: 8rem;
				.profile-social-menu {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					.profile-social-list {
						width: 40px;
						height: 40px;
						background: #ffffff;
						color: grey;
						display: flex;
						justify-content: center;
						align-items: center;
						.profile-social-link {
							color: gray;
							font-size: 1.5rem;
						}
					}
				}
			}
		}
		.latest-post-box {
			width: 100%;
			height: auto;
			border-radius: 2px;
			background: $white;
			box-shadow: $box-shadows-1;
			margin-bottom: 5rem;
			padding: 2rem;
			.latest-post-section-title {
				margin-bottom: 2rem;
			}
			.latest-post-box-1 {
				width: 100%;
				height: 8rem;
				border-bottom: 1px solid rgba(grey, .2);
				display: flex;
				align-items: center;
				&:last-child {
					border-bottom: none;
				}
				.latest-post-box-image {
					width: 60px;
					height: 60px;
					border-radius: 50%;
					overflow: hidden;
					.latest-post-image {
						width: 100%;
						height: 100%;
					}
				}
				.latest-post-box-title {
					width: calc(100% - 60px);
					height: 8rem;
					overflow: hidden;
					padding-left: 2rem;
					display: flex;
					align-items: center;
					font-size: 1rem;
					line-height: 2rem;
				}
			}
		}
		.category-box {
			width: 100%;
			height: auto;
			border-radius: 2px;
			background: $white;
			box-shadow: $box-shadows-1;
			margin-bottom: 5rem;
			padding: 2rem;
			.category-section-title {
				margin-bottom: 2rem;
			}
			.category-box-menu {
				list-style: none;
				width: 100%;
				height: auto;
				.category-box-list {
					width: 100%;
					height: 60px;
					border-bottom: 1px solid rgba(grey, .2);
					display: flex;
					align-items: center;
					&:last-child {
						border-bottom: none;
					}
					.category-box-link {
						color: grey;
						font-size: 1.5rem;
					}
				}
			}
		}
		.ads-box {
			width: 100%;
			height: 40rem;
			background: $white;
			box-shadow: $box-shadows-1;
			border-radius: 2px;
		}
	}
}

#tags {
	background: #ffffff;
	padding: .5rem 1rem;
	border-radius: 2px;
	color: #243a51;
	margin-right: 1rem;
	box-shadow: $box-shadows-1;
}

//////////Media////////
@media only screen and (max-width: 1318px) {
	.post {
		flex-direction: column !important;
		.post-area {
			width: 100% !important;
			margin-bottom: 5rem !important;
			.ads {
				width: 100%;
				height: 8rem;
				background: grey;
				margin: 2rem 0;
			}
			.post-area-header {
				width: 100%;
				height: 10rem;
				display: flex;
				margin-bottom: 2rem;
				.post-area-profile-logo-box {
					width: 10rem;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					.post-area-profile-logo {
						width: 8rem;
						height: 8rem;
						border-radius: 50%;
					}
				}
				.post-area-header-content-box {
					width: calc(100% - 10rem);
					height: 100%;
					.post-area-header-title-box {
						width: 100%;
						height: 70%;
						display: flex;
						align-items: center;
						font-weight: 300;
						font-family: 'Vollkorn', serif;
						color: #212529;
						padding-right: 2rem;
						padding-left: 1rem;
					}
					.post-area-header-sub-box {
						width: 100%;
						height: 30%;
						display: flex;
						align-items: center;
						.post-area-header-sub-menu {
							list-style-type: none;
							padding-left: 1rem;
							.post-area-header-sub-list {
								margin-right: 3rem;
								display: inline-block;
								.post-area-header-sub-link {
									color: grey;
									font-size: 1.3rem;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
			.post-blog-content {
				padding: 2rem;
				.post-img-box {
					width: 100%;
					height: 30rem;
					margin-bottom: 4rem;
					.post-img {
						width: 100%;
						height: 100%;
					}
				}
				.post-desc-box {
					padding-bottom: 5rem;
					width: 100%;
					height: auto;
					border-bottom: 1px solid rgba(grey, .2);
					.post-content {
						font-size: 1.6rem;
						line-height: 3rem;
						color: grey;
					}
				}
				.tags {
					width: 100%;
					height: 8rem;
					display: flex;
					align-items: center;
					color: grey;
					border-bottom: 1px solid rgba(grey, .2);
					.tags-name {
						font-size: 1.5rem;
						font-weight: 400;
					}
				}
				.comment-sec {
					padding: 2rem 0;
				}
			}
		}
		.sidebar {
			width: 70% !important;
			height: auto; // background: $white;
			border-radius: 2px; // box-shadow: $box-shadows-1;
			padding: 2rem;
			padding-top: 0;
			overflow: hidden;
			margin: 0 auto;
			.search-box {
				width: 100%;
				height: 4rem;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				display: flex;
				.search-input {
					border: none;
					width: 90%;
					height: 100%;
					transition: all .4s;
					overflow: hidden;
					padding-left: 1rem;
				}
				.search-btn {
					border: none;
					width: 10%;
					height: 100%;
					background: $white;
					color: #4abde8;
					cursor: pointer;
				}
			}
			.profile-box {
				width: 100%;
				height: 40rem;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				.profile-image-box {
					width: 100%;
					height: 20rem;
					.profile-image-bar {
						width: 100%;
						height: 100%;
					}
				}
				.profile-brand-box {
					width: 100%;
					height: 12rem;
					display: flex;
					position: relative;
					.profile-image-box {
						width: 12rem;
						height: 12rem;
						border-radius: 50%;
						border: 5px solid $white;
						position: absolute;
						top: -2rem;
						left: 2rem;
						overflow: hidden;
						background: $white;
						.profile-image {
							width: 100%;
							height: 100%;
						}
					}
					.profile-desc-box {
						width: calc(100% - 12rem);
						height: 100%;
						position: absolute;
						top: 0;
						right: 0;
						overflow: hidden;
						padding: 2rem;
						padding-top: 0;
						padding-left: 5rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						.profile-name {
							font-family: 'Vollkorn', serif;
						}
						.profile-subname {
							color: grey;
						}
					}
				}
				.profile-social-box {
					width: 100%;
					height: 8rem;
					.profile-social-menu {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						.profile-social-list {
							width: 40px;
							height: 40px;
							background: #ffffff;
							color: grey;
							display: flex;
							justify-content: center;
							align-items: center;
							.profile-social-link {
								color: gray;
								font-size: 1.5rem;
							}
						}
					}
				}
			}
			.latest-post-box {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				padding: 2rem;
				.latest-post-section-title {
					margin-bottom: 2rem;
				}
				.latest-post-box-1 {
					width: 100%;
					height: 8rem;
					border-bottom: 1px solid rgba(grey, .2);
					display: flex;
					align-items: center;
					&:last-child {
						border-bottom: none;
					}
					.latest-post-box-image {
						width: 60px;
						height: 60px;
						border-radius: 50%;
						overflow: hidden;
						.latest-post-image {
							width: 100%;
							height: 100%;
						}
					}
					.latest-post-box-title {
						width: calc(100% - 60px);
						height: 8rem;
						overflow: hidden;
						padding-left: 2rem;
						display: flex;
						align-items: center;
					}
				}
			}
			.category-box {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				padding: 2rem;
				.category-section-title {
					margin-bottom: 2rem;
				}
				.category-box-menu {
					list-style: none;
					width: 100%;
					height: auto;
					.category-box-list {
						width: 100%;
						height: 60px;
						border-bottom: 1px solid rgba(grey, .2);
						display: flex;
						align-items: center;
						&:last-child {
							border-bottom: none;
						}
						.category-box-link {
							color: grey;
							font-size: 1.5rem;
						}
					}
				}
			}
			.ads-box {
				width: 100%;
				height: 40rem;
				background: $white;
				box-shadow: $box-shadows-1;
				border-radius: 2px;
			}
		}
	}
}

@media only screen and (max-width: 959px) {
	.post {
		flex-direction: column !important;
		.post-area {
			width: 100% !important;
			margin-bottom: 5rem !important;
			.ads {
				width: 100%;
				height: 8rem;
				background: grey;
				margin: 2rem 0;
			}
			.post-area-header {
				width: 100%;
				height: 10rem;
				display: flex;
				margin-bottom: 2rem;
				.post-area-profile-logo-box {
					width: 10rem;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					.post-area-profile-logo {
						width: 8rem;
						height: 8rem;
						border-radius: 50%;
					}
				}
				.post-area-header-content-box {
					width: calc(100% - 10rem);
					height: 100%;
					.post-area-header-title-box {
						width: 100%;
						height: 70%;
						display: flex;
						align-items: center;
						font-weight: 300;
						font-family: 'Vollkorn', serif;
						color: #212529;
						padding-right: 2rem;
						padding-left: 1rem;

						.post-area-header-title {
							font-size: 1.5rem !important;
						}
					}
					.post-area-header-sub-box {
						width: 100%;
						height: 30%;
						display: flex;
						align-items: center;
						.post-area-header-sub-menu {
							list-style-type: none;
							padding-left: 1rem;
							.post-area-header-sub-list {
								margin-right: 3rem;
								display: inline-block;
								.post-area-header-sub-link {
									color: grey;
									font-size: 1.3rem;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
			.post-blog-content {
				padding: 2rem;
				.post-img-box {
					width: 100%;
					height: 30rem;
					margin-bottom: 4rem;
					.post-img {
						width: 100%;
						height: 100%;
					}
				}
				.post-desc-box {
					padding-bottom: 5rem;
					width: 100%;
					height: auto;
					border-bottom: 1px solid rgba(grey, .2);
					.post-content {
						font-size: 1.6rem;
						line-height: 3rem;
						color: grey;
					}
				}
				.tags {
					width: 100%;
					height: 8rem;
					display: flex;
					align-items: center;
					color: grey;
					border-bottom: 1px solid rgba(grey, .2);
					.tags-name {
						font-size: 1.5rem;
						font-weight: 400;
					}
				}
				.comment-sec {
					padding: 2rem 0;
				}
			}
		}
		.sidebar {
			width: 70% !important;
			height: auto; // background: $white;
			border-radius: 2px; // box-shadow: $box-shadows-1;
			padding: 2rem;
			padding-top: 0;
			overflow: hidden;
			margin: 0 auto;
			.search-box {
				width: 100%;
				height: 4rem;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				display: flex;
				.search-input {
					border: none;
					width: 90%;
					height: 100%;
					transition: all .4s;
					overflow: hidden;
					padding-left: 1rem;
				}
				.search-btn {
					border: none;
					width: 10%;
					height: 100%;
					background: $white;
					color: #4abde8;
					cursor: pointer;
				}
			}
			.profile-box {
				width: 100%;
				height: 40rem;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				.profile-image-box {
					width: 100%;
					height: 20rem;
					.profile-image-bar {
						width: 100%;
						height: 100%;
					}
				}
				.profile-brand-box {
					width: 100%;
					height: 12rem;
					display: flex;
					position: relative;
					.profile-image-box {
						width: 12rem;
						height: 12rem;
						border-radius: 50%;
						border: 5px solid $white;
						position: absolute;
						top: -2rem;
						left: 2rem;
						overflow: hidden;
						background: $white;
						.profile-image {
							width: 100%;
							height: 100%;
						}
					}
					.profile-desc-box {
						width: calc(100% - 12rem);
						height: 100%;
						position: absolute;
						top: 0;
						right: 0;
						overflow: hidden;
						padding: 2rem;
						padding-top: 0;
						padding-left: 5rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						.profile-name {
							font-family: 'Vollkorn', serif;
						}
						.profile-subname {
							color: grey;
						}
					}
				}
				.profile-social-box {
					width: 100%;
					height: 8rem;
					.profile-social-menu {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						.profile-social-list {
							width: 40px;
							height: 40px;
							background: #ffffff;
							color: grey;
							display: flex;
							justify-content: center;
							align-items: center;
							.profile-social-link {
								color: gray;
								font-size: 1.5rem;
							}
						}
					}
				}
			}
			.latest-post-box {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				padding: 2rem;
				.latest-post-section-title {
					margin-bottom: 2rem;
				}
				.latest-post-box-1 {
					width: 100%;
					height: 8rem;
					border-bottom: 1px solid rgba(grey, .2);
					display: flex;
					align-items: center;
					&:last-child {
						border-bottom: none;
					}
					.latest-post-box-image {
						width: 60px;
						height: 60px;
						border-radius: 50%;
						overflow: hidden;
						.latest-post-image {
							width: 100%;
							height: 100%;
						}
					}
					.latest-post-box-title {
						width: calc(100% - 60px);
						height: 8rem;
						overflow: hidden;
						padding-left: 2rem;
						display: flex;
						align-items: center;
					}
				}
			}
			.category-box {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				padding: 2rem;
				.category-section-title {
					margin-bottom: 2rem;
				}
				.category-box-menu {
					list-style: none;
					width: 100%;
					height: auto;
					.category-box-list {
						width: 100%;
						height: 60px;
						border-bottom: 1px solid rgba(grey, .2);
						display: flex;
						align-items: center;
						&:last-child {
							border-bottom: none;
						}
						.category-box-link {
							color: grey;
							font-size: 1.5rem;
						}
					}
				}
			}
			.ads-box {
				width: 100%;
				height: 40rem;
				background: $white;
				box-shadow: $box-shadows-1;
				border-radius: 2px;
			}
		}
	}
}


@media only screen and (max-width: 834px) {
	.post {
		flex-direction: column !important;
		.post-area {
			width: 100% !important;
			margin-bottom: 5rem !important;
			.ads {
				width: 100%;
				height: 8rem;
				background: grey;
				margin: 2rem 0;
			}
			.post-area-header {
				width: 100%;
				height: 10rem;
				display: flex;
				margin-bottom: 2rem;
				.post-area-profile-logo-box {
					width: 10rem;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					.post-area-profile-logo {
						width: 8rem;
						height: 8rem;
						border-radius: 50%;
					}
				}
				.post-area-header-content-box {
					width: calc(100% - 10rem);
					height: 100%;
					.post-area-header-title-box {
						width: 100%;
						height: 70%;
						display: flex;
						align-items: center;
						font-weight: 300;
						font-family: 'Vollkorn', serif;
						color: #212529;
						padding-right: 2rem;
						padding-left: 1rem;
					}
					.post-area-header-sub-box {
						width: 100%;
						height: 30%;
						display: flex;
						align-items: center;
						.post-area-header-sub-menu {
							list-style-type: none;
							padding-left: 1rem;
							.post-area-header-sub-list {
								margin-right: 3rem;
								display: inline-block;
								.post-area-header-sub-link {
									color: grey;
									font-size: 1.3rem;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
			.post-blog-content {
				padding: 2rem;
				.post-img-box {
					width: 100%;
					height: 30rem;
					margin-bottom: 4rem;
					.post-img {
						width: 100%;
						height: 100%;
					}
				}
				.post-desc-box {
					padding-bottom: 5rem;
					width: 100%;
					height: auto;
					border-bottom: 1px solid rgba(grey, .2);
					.post-content {
						font-size: 1.6rem;
						line-height: 3rem;
						color: grey;
					}
				}
				.tags {
					width: 100%;
					height: 8rem;
					display: flex;
					align-items: center;
					color: grey;
					border-bottom: 1px solid rgba(grey, .2);
					.tags-name {
						font-size: 1.5rem;
						font-weight: 400;
					}
				}
				.comment-sec {
					padding: 2rem 0;
				}
			}
		}
		.sidebar {
			width: 100% !important;
			height: auto; // background: $white;
			border-radius: 2px; // box-shadow: $box-shadows-1;
			padding: 2rem;
			padding-top: 0;
			overflow: hidden;
			margin: 0 auto;
			.search-box {
				width: 100%;
				height: 4rem;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				display: flex;
				.search-input {
					border: none;
					width: 90%;
					height: 100%;
					transition: all .4s;
					overflow: hidden;
					padding-left: 1rem;
				}
				.search-btn {
					border: none;
					width: 10%;
					height: 100%;
					background: $white;
					color: #4abde8;
					cursor: pointer;
				}
			}
			.profile-box {
				width: 100%;
				height: 40rem;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				.profile-image-box {
					width: 100%;
					height: 20rem;
					.profile-image-bar {
						width: 100%;
						height: 100%;
					}
				}
				.profile-brand-box {
					width: 100%;
					height: 12rem;
					display: flex;
					position: relative;
					.profile-image-box {
						width: 12rem;
						height: 12rem;
						border-radius: 50%;
						border: 5px solid $white;
						position: absolute;
						top: -2rem;
						left: 2rem;
						overflow: hidden;
						background: $white;
						.profile-image {
							width: 100%;
							height: 100%;
						}
					}
					.profile-desc-box {
						width: calc(100% - 12rem);
						height: 100%;
						position: absolute;
						top: 0;
						right: 0;
						overflow: hidden;
						padding: 2rem;
						padding-top: 0;
						padding-left: 5rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						.profile-name {
							font-family: 'Vollkorn', serif;
						}
						.profile-subname {
							color: grey;
						}
					}
				}
				.profile-social-box {
					width: 100%;
					height: 8rem;
					.profile-social-menu {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						.profile-social-list {
							width: 40px;
							height: 40px;
							background: #ffffff;
							color: grey;
							display: flex;
							justify-content: center;
							align-items: center;
							.profile-social-link {
								color: gray;
								font-size: 1.5rem;
							}
						}
					}
				}
			}
			.latest-post-box {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				padding: 2rem;
				.latest-post-section-title {
					margin-bottom: 2rem;
				}
				.latest-post-box-1 {
					width: 100%;
					height: 8rem;
					border-bottom: 1px solid rgba(grey, .2);
					display: flex;
					align-items: center;
					&:last-child {
						border-bottom: none;
					}
					.latest-post-box-image {
						width: 60px;
						height: 60px;
						border-radius: 50%;
						overflow: hidden;
						.latest-post-image {
							width: 100%;
							height: 100%;
						}
					}
					.latest-post-box-title {
						width: calc(100% - 60px);
						height: 8rem;
						overflow: hidden;
						padding-left: 2rem;
						display: flex;
						align-items: center;
					}
				}
			}
			.category-box {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				padding: 2rem;
				.category-section-title {
					margin-bottom: 2rem;
				}
				.category-box-menu {
					list-style: none;
					width: 100%;
					height: auto;
					.category-box-list {
						width: 100%;
						height: 60px;
						border-bottom: 1px solid rgba(grey, .2);
						display: flex;
						align-items: center;
						&:last-child {
							border-bottom: none;
						}
						.category-box-link {
							color: grey;
							font-size: 1.5rem;
						}
					}
				}
			}
			.ads-box {
				width: 100%;
				height: 40rem;
				background: $white;
				box-shadow: $box-shadows-1;
				border-radius: 2px;
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	.post {
		flex-direction: column !important;
		.post-area {
			width: 100% !important;
			margin-bottom: 5rem !important;
			.ads {
				width: 100%;
				height: 8rem;
				background: grey;
				margin: 2rem 0;
			}
			.post-area-header {
				width: 100%;
				height: 10rem;
				display: flex;
				margin-bottom: 2rem;
				.post-area-profile-logo-box {
					width: 10rem;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					.post-area-profile-logo {
						width: 8rem;
						height: 8rem;
						border-radius: 50%;
					}
				}
				.post-area-header-content-box {
					width: calc(100% - 10rem);
					height: 100%;
					.post-area-header-title-box {
						width: 100%;
						height: 70%;
						display: flex;
						align-items: center;
						font-weight: 300;
						font-family: 'Vollkorn', serif;
						color: #212529;
						padding-right: 2rem;
						padding-left: 1rem;
						.post-area-header-title {
							font-size: 2rem !important;
						}
					}
					.post-area-header-sub-box {
						width: 100%;
						height: 30%;
						display: flex;
						align-items: center;
						.post-area-header-sub-menu {
							list-style-type: none;
							padding-left: 1rem;
							.post-area-header-sub-list {
								margin-right: 3rem;
								display: inline-block;
								.post-area-header-sub-link {
									color: grey;
									font-size: 1.3rem;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
			.post-blog-content {
				padding: 2rem;
				.post-img-box {
					width: 100%;
					height: 30rem;
					margin-bottom: 4rem;
					.post-img {
						width: 100%;
						height: 100%;
					}
				}
				.post-desc-box {
					padding-bottom: 5rem;
					width: 100%;
					height: auto;
					border-bottom: 1px solid rgba(grey, .2);
					.post-content {
						font-size: 1.6rem;
						line-height: 3rem;
						color: grey;
					}
				}
				.tags {
					width: 100%;
					height: 8rem;
					display: flex;
					align-items: center;
					color: grey;
					border-bottom: 1px solid rgba(grey, .2);
					.tags-name {
						font-size: 1.5rem;
						font-weight: 400;
					}
				}
				.comment-sec {
					padding: 2rem 0;
				}
			}
		}
		.sidebar {
			width: 100% !important;
			height: auto; // background: $white;
			border-radius: 2px; // box-shadow: $box-shadows-1;
			padding: 2rem;
			padding-top: 0;
			overflow: hidden;
			margin: 0 auto;
			.search-box {
				width: 100%;
				height: 4rem;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				display: flex;
				.search-input {
					border: none;
					width: 90%;
					height: 100%;
					transition: all .4s;
					overflow: hidden;
					padding-left: 1rem;
				}
				.search-btn {
					border: none;
					width: 10%;
					height: 100%;
					background: $white;
					color: #4abde8;
					cursor: pointer;
				}
			}
			.profile-box {
				width: 100%;
				height: 40rem;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				.profile-image-box {
					width: 100%;
					height: 20rem;
					.profile-image-bar {
						width: 100%;
						height: 100%;
					}
				}
				.profile-brand-box {
					width: 100%;
					height: 12rem;
					display: flex;
					position: relative;
					.profile-image-box {
						width: 12rem;
						height: 12rem;
						border-radius: 50%;
						border: 5px solid $white;
						position: absolute;
						top: -2rem;
						left: 2rem;
						overflow: hidden;
						background: $white;
						.profile-image {
							width: 100%;
							height: 100%;
						}
					}
					.profile-desc-box {
						width: calc(100% - 12rem);
						height: 100%;
						position: absolute;
						top: 0;
						right: 0;
						overflow: hidden;
						padding: 2rem;
						padding-top: 0;
						padding-left: 5rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						.profile-name {
							font-family: 'Vollkorn', serif;
						}
						.profile-subname {
							color: grey;
						}
					}
				}
				.profile-social-box {
					width: 100%;
					height: 8rem;
					.profile-social-menu {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						.profile-social-list {
							width: 40px;
							height: 40px;
							background: #ffffff;
							color: grey;
							display: flex;
							justify-content: center;
							align-items: center;
							.profile-social-link {
								color: gray;
								font-size: 1.5rem;
							}
						}
					}
				}
			}
			.latest-post-box {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				padding: 2rem;
				.latest-post-section-title {
					margin-bottom: 2rem;
				}
				.latest-post-box-1 {
					width: 100%;
					height: 8rem;
					border-bottom: 1px solid rgba(grey, .2);
					display: flex;
					align-items: center;
					&:last-child {
						border-bottom: none;
					}
					.latest-post-box-image {
						width: 60px;
						height: 60px;
						border-radius: 50%;
						overflow: hidden;
						.latest-post-image {
							width: 100%;
							height: 100%;
						}
					}
					.latest-post-box-title {
						width: calc(100% - 60px);
						height: 8rem;
						overflow: hidden;
						padding-left: 2rem;
						display: flex;
						align-items: center;
					}
				}
			}
			.category-box {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				padding: 2rem;
				.category-section-title {
					margin-bottom: 2rem;
				}
				.category-box-menu {
					list-style: none;
					width: 100%;
					height: auto;
					.category-box-list {
						width: 100%;
						height: 60px;
						border-bottom: 1px solid rgba(grey, .2);
						display: flex;
						align-items: center;
						&:last-child {
							border-bottom: none;
						}
						.category-box-link {
							color: grey;
							font-size: 1.5rem;
						}
					}
				}
			}
			.ads-box {
				width: 100%;
				height: 40rem;
				background: $white;
				box-shadow: $box-shadows-1;
				border-radius: 2px;
			}
		}
	}
}

@media only screen and (max-width: 632px) {
	.post {
		flex-direction: column !important;
		.post-area {
			width: 100% !important;
			margin-bottom: 5rem !important;
			.ads {
				width: 100%;
				height: 8rem;
				background: grey;
				margin: 2rem 0;
			}
			.post-area-header {
				width: 100%;
				height: 10rem;
				display: flex;
				margin-bottom: 2rem;
				.post-area-profile-logo-box {
					width: 10rem;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					.post-area-profile-logo {
						width: 8rem;
						height: 8rem;
						border-radius: 50%;
					}
				}
				.post-area-header-content-box {
					width: calc(100% - 10rem);
					height: 100%;
					.post-area-header-title-box {
						width: 100%;
						height: 70%;
						display: flex;
						align-items: center;
						font-weight: 300;
						font-family: 'Vollkorn', serif;
						color: #212529;
						padding-right: 2rem;
						padding-left: 1rem;
						.post-area-header-title {
							font-size: 1.5rem !important;
						}
					}
					.post-area-header-sub-box {
						width: 100%;
						height: 30%;
						display: flex;
						align-items: center;
						.post-area-header-sub-menu {
							list-style-type: none;
							padding-left: 1rem;
							.post-area-header-sub-list {
								margin-right: 3rem;
								display: inline-block;
								.post-area-header-sub-link {
									color: grey;
									font-size: 1.3rem;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
			.post-blog-content {
				padding: 2rem;
				.post-img-box {
					width: 100%;
					height: 30rem;
					margin-bottom: 4rem;
					.post-img {
						width: 100%;
						height: 100%;
					}
				}
				.post-desc-box {
					padding-bottom: 5rem;
					width: 100%;
					height: auto;
					border-bottom: 1px solid rgba(grey, .2);
					.post-content {
						font-size: 1.6rem;
						line-height: 3rem;
						color: grey;
					}
				}
				.tags {
					width: 100%;
					height: 8rem;
					display: flex;
					align-items: center;
					color: grey;
					border-bottom: 1px solid rgba(grey, .2);
					.tags-name {
						font-size: 1.5rem;
						font-weight: 400;
					}
				}
				.comment-sec {
					padding: 2rem 0;
				}
			}
		}
		.sidebar {
			width: 100% !important;
			height: auto; // background: $white;
			border-radius: 2px; // box-shadow: $box-shadows-1;
			padding: 2rem;
			padding-top: 0;
			overflow: hidden;
			margin: 0 auto;
			.search-box {
				width: 100%;
				height: 4rem;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				display: flex;
				.search-input {
					border: none;
					width: 90%;
					height: 100%;
					transition: all .4s;
					overflow: hidden;
					padding-left: 1rem;
				}
				.search-btn {
					border: none;
					width: 10%;
					height: 100%;
					background: $white;
					color: #4abde8;
					cursor: pointer;
				}
			}
			.profile-box {
				width: 100%;
				height: 40rem;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				.profile-image-box {
					width: 100%;
					height: 20rem;
					.profile-image-bar {
						width: 100%;
						height: 100%;
					}
				}
				.profile-brand-box {
					width: 100%;
					height: 12rem;
					display: flex;
					position: relative;
					.profile-image-box {
						width: 12rem;
						height: 12rem;
						border-radius: 50%;
						border: 5px solid $white;
						position: absolute;
						top: -2rem;
						left: 2rem;
						overflow: hidden;
						background: $white;
						.profile-image {
							width: 100%;
							height: 100%;
						}
					}
					.profile-desc-box {
						width: calc(100% - 12rem);
						height: 100%;
						position: absolute;
						top: 0;
						right: 0;
						overflow: hidden;
						padding: 2rem;
						padding-top: 0;
						padding-left: 5rem;
						display: flex;
						flex-direction: column;
						justify-content: center;
						.profile-name {
							font-family: 'Vollkorn', serif;
						}
						.profile-subname {
							color: grey;
						}
					}
				}
				.profile-social-box {
					width: 100%;
					height: 8rem;
					.profile-social-menu {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						.profile-social-list {
							width: 40px;
							height: 40px;
							background: #ffffff;
							color: grey;
							display: flex;
							justify-content: center;
							align-items: center;
							.profile-social-link {
								color: gray;
								font-size: 1.5rem;
							}
						}
					}
				}
			}
			.latest-post-box {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				padding: 2rem;
				.latest-post-section-title {
					margin-bottom: 2rem;
				}
				.latest-post-box-1 {
					width: 100%;
					height: 8rem;
					border-bottom: 1px solid rgba(grey, .2);
					display: flex;
					align-items: center;
					&:last-child {
						border-bottom: none;
					}
					.latest-post-box-image {
						width: 60px;
						height: 60px;
						border-radius: 50%;
						overflow: hidden;
						.latest-post-image {
							width: 100%;
							height: 100%;
						}
					}
					.latest-post-box-title {
						width: calc(100% - 60px);
						height: 8rem;
						overflow: hidden;
						padding-left: 2rem;
						display: flex;
						align-items: center;
					}
				}
			}
			.category-box {
				width: 100%;
				height: auto;
				border-radius: 2px;
				background: $white;
				box-shadow: $box-shadows-1;
				margin-bottom: 5rem;
				padding: 2rem;
				.category-section-title {
					margin-bottom: 2rem;
				}
				.category-box-menu {
					list-style: none;
					width: 100%;
					height: auto;
					.category-box-list {
						width: 100%;
						height: 60px;
						border-bottom: 1px solid rgba(grey, .2);
						display: flex;
						align-items: center;
						&:last-child {
							border-bottom: none;
						}
						.category-box-link {
							color: grey;
							font-size: 1.5rem;
						}
					}
				}
			}
			.ads-box {
				width: 100%;
				height: 40rem;
				background: $white;
				box-shadow: $box-shadows-1;
				border-radius: 2px;
			}
		}
	}
}


