.my-expertise {
	width: 100%;
	height: auto;
	padding: 8rem 2rem 2rem 2rem;
	box-shadow: $box-shadows-1;
	border-radius: 2px;
	background: $white;
	position: relative;
	.my-expertise-header-box {
		width: 30rem;
		height: auto;
		background: #243a51;
		padding: .5rem 2rem;
		border-radius: 10rem;
		position: absolute;
		top: 7rem;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: $box-shadows-4;
		color: #4abde8;
		.my-expertise-header {
			font-size: 2.5rem;
			font-family: 'Vollkorn', serif;
			font-weight: bolder;
			text-shadow: $box-shadows-2;
		}
	}
	.my-expertise-card-box {
		width: 80%;
		height: auto;
		margin: 10rem auto 5rem auto;
		display: flex;
		justify-content: space-between;
		.my-expertise-card {
			width: 35rem;
			height: 40rem;
			border-radius: 5px;
			box-shadow: $box-shadows-4;
			overflow: hidden;
			background: #243a51;
			.my-expertise-card-icon-box {
				width: 100%;
				height: 15rem;
				display: flex;
				justify-content: center;
				align-items: center;
				.my-expertise-card-icon {
					font-size: 8rem;
					color: #4abde8;
				}
			}
			.my-expertise-card-box-header {
				.my-expertise-card-header {
					font-size: 2.5rem;
					color: #4abde8;
				}
			}
			.my-expertise-card-box-para {
				width: 100%;
				height: auto;
				padding: 2rem;
				.my-expertise-card-para {
					font-size: 1.5rem;
					color: #ffffff;
				}
			}
		}
	}
}

@media only screen and (max-width: 1677px) {
	.my-expertise {
		.my-expertise-card-box {
			width: 100%;
			height: auto;
			margin: 5rem auto;
			display: flex;
			justify-content: space-between;
		}
	}
}

@media only screen and (max-width: 1390px) {
	.my-expertise {
		.my-expertise-card-box {
			width: 100%;
			height: auto;
			margin: 5rem auto;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			.my-expertise-card {
				margin-bottom: 5rem;
				&:last-child {
					margin-bottom: 0rem;
				}
			}
		}
	}
}
